RewriteEngine On

# Supprimer .html dans l'URL pour toutes les pages
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)/$ $1.html [L]

# Rediriger les anciennes URLs avec .html vers les nouvelles sans .html (SEO friendly)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /(.*)\.html HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
